.root {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  max-width: 64rem;
  max-height: 48rem;
}

.svg {
  display: block;
  color: #5c6c70;
  font-family: 'ABCSans', sans-serif;
}

.svg line {
  stroke: #e4e6e7;
}

.svg path {
  stroke: #5c6c70;
}

.xAxis text,
.yAxis text {
  font-weight: bold;
}

.xAxis path,
.yAxis path,
.yAxisGridlines path {
  shape-rendering: crispEdges;
  stroke: none;
}

.yAxisGridlines line {
  shape-rendering: crispEdges;
}

.xAxisLabel,
.yAxisLabel {
  font-family: 'ABCSerif', sans-serif;
}

.xAxisLabel {
  text-anchor: middle;
}

.yAxisLabel {
  text-anchor: start;
}

.grid {
  fill: none;
}

.line {
  fill: none;
  stroke-width: 1;
  stroke-linejoin: round;
}

.line.highlighted {
  stroke-width: 3;
}

path.line[data-country='Australia'] {
  stroke: #000;
}

path.line[data-country='China'] {
  stroke: #00b395;
}

path.line[data-country='Italy'] {
  stroke: #ff6100;
}

path.line[data-country='Singapore'] {
  stroke: #01cfff;
}

path.line[data-country='Korea, South'] {
  stroke: #8272d6;
}

path.line[data-country='United Kingdom'] {
  stroke: #ea526f;
}

path.line[data-country='US'] {
  stroke: #248bc9;
}
