.root {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  /* Max out at standard pulled embed width @ 4:3 aspect ratio */
  max-width: 57.5rem;
  max-height: 43.125rem;
  animation: enter 0.5s;
}

:global(.u-pull) .root {
  width: 100%;
  height: 100%;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.svg {
  display: block;
  color: #5c6c70;
  font-family: 'ABCSans', sans-serif;
}

.svg line {
  color: #e4e6e7;
}

.svg path {
  color: #5c6c70;
}

.xAxis,
.yAxis {
  fill: none;
}

.xAxis :global(.domain),
.yAxis :global(.domain) {
  fill: var(--bg);
}

.xAxis text,
.yAxis text {
  font-size: 0.6875rem;
  font-weight: bold;
}

.xAxis path,
.yAxis path,
.yAxisGridlines path {
  shape-rendering: crispEdges;
}

.xAxis path {
  color: #e4e6e7;
}

.yAxis path,
.yAxisGridlines path {
  stroke: none;
}

.yAxisGridlines line {
  shape-rendering: crispEdges;
}

.xAxisLabel,
.yAxisLabel {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  fill: #5c6c70;
}

.xAxisLabel {
  text-anchor: middle;
}

.yAxisLabel {
  text-anchor: start;
}

.plot {
  fill: none;
}

.trendLines {
  fill: none;
}

.trendLine {
  fill: none;
  stroke: currentColor;
  stroke-opacity: 0.5;
  stroke-width: 1;
  stroke-dasharray: 2 3;
  stroke-linejoin: round;
  stroke-linecap: square;
}

.trendLine.highlighted {
  stroke-opacity: 1;
  stroke-width: 2;
  stroke-dasharray: 2 5;
}

.plotLines {
  fill: none;
}

.plotLine {
  fill: none;
  stroke: currentColor;
  stroke-opacity: 0.5;
  stroke-width: 1;
  stroke-linejoin: round;
}

.plotLine.highlighted {
  stroke-opacity: 1;
  stroke-width: 3;
}

[data-preset='europe'] .plotLine.highlighted {
  stroke-width: 1;
}

.plotDots {
  fill: none;
}

.plotDot {
  color: #5c6c70;
  fill: currentColor;
  fill-opacity: 0.67;
  stroke: currentColor;
  stroke-opacity: 0.67;
  stroke-width: 0;
  transition: fill-opacity 0.25s, stroke-opacity 0.25s;
}

.plotDot.highlighted {
  fill-opacity: 1;
  stroke-opacity: 1;
  stroke-width: 2;
}

[data-preset='europe'] .plotDot.highlighted {
  stroke-width: 0;
}

.plotDot.truncated {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.trendLabels {
  fill: none;
}

.trendLabel {
  color: #000;
  fill: currentColor;
  fill-opacity: 0.5;
  stroke: var(--bg);
  stroke-opacity: 0.5;
  stroke-width: 2;
  paint-order: stroke;
  font-size: 0.625rem;
  letter-spacing: 0.025em;
}

.trendLabel.highlighted {
  fill-opacity: 1;
  stroke-opacity: 1;
}

.plotLabels {
  fill: none;
}

.plotLabel {
  color: #5c6c70;
  fill: currentColor;
  fill-opacity: 0.5;
  stroke: var(--bg);
  stroke-opacity: 0.5;
  stroke-width: 2;
  paint-order: stroke;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.plotLabel.highlighted {
  fill-opacity: 1;
  stroke-opacity: 1;
}

path.plotLine[data-country='Australia'],
path.plotLine[data-country='Europe'],
circle.plotDot[data-country='Australia'],
circle.plotDot[data-country='Europe'] {
  color: #000000;
}

path.plotLine[data-country='China'],
circle.plotDot[data-country='China'] {
  color: #00b395;
}

path.plotLine[data-country='Italy'],
circle.plotDot[data-country='Italy'] {
  color: #ff6100;
}

path.plotLine[data-country='Japan'],
circle.plotDot[data-country='Japan'] {
  color: #5cad5d;
}

path.plotLine[data-country='Singapore'],
circle.plotDot[data-country='Singapore'] {
  color: #01cfff;
}

path.plotLine[data-country='S. Korea'],
circle.plotDot[data-country='S. Korea'] {
  color: #8272d6;
}

path.plotLine[data-country='Taiwan'],
circle.plotDot[data-country='Taiwan'] {
  color: #bf6643;
}

path.plotLine[data-country='UK'],
circle.plotDot[data-country='UK'] {
  color: #ea526f;
}

path.plotLine[data-country='US'],
circle.plotDot[data-country='US'] {
  color: #248bc9;
}

text.plotLabel[data-country='Australia'],
text.plotLabel[data-country='Europe'] {
  color: #000000;
}

text.plotLabel[data-country='China'] {
  color: #00826a;
}

text.plotLabel[data-country='Italy'] {
  color: #cf4200;
}

text.plotLabel[data-country='Japan'] {
  color: #49804c;
}

text.plotLabel[data-country='Singapore'] {
  color: #047ca5;
}

text.plotLabel[data-country='S. Korea'] {
  color: #7462cc;
}

text.plotLabel[data-country='Taiwan'] {
  color: #b25b45;
}

text.plotLabel[data-country='UK'] {
  color: #e01b3f;
}

text.plotLabel[data-country='US'] {
  color: #2079b0;
}
