.root {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}

.svg {
  display: block;
  color: #5c6c70;
  font-family: 'ABCSans', sans-serif;
}

.svg line {
  stroke: #e4e6e7;
}

.svg path {
  stroke: #5c6c70;
}

.xAxis text,
.yAxis text {
  font-weight: bold;
}

.xAxis path,
.yAxis path,
.yAxisGridlines path {
  shape-rendering: crispEdges;
  stroke: none;
}

.yAxisGridlines line {
  shape-rendering: crispEdges;
}

.xAxisLabel,
.yAxisLabel {
  font-family: 'ABCSerif', sans-serif;
}

.xAxisLabel {
  text-anchor: middle;
}

.yAxisLabel {
  text-anchor: start;
}

.grid {
  fill: none;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  stroke-linejoin: round;
}

.line.focused {
  stroke-width: 3;
}
