/* Odyssey theming */
:root {
  --bg: #f3fcfc;
}

html {
  transition: background-color 0.25s;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.scrolly {
  background-color: inherit;
}

.scrollyPanel {
}

.scrolly .scrollyPanel.firstScrollyPanel {
  margin-top: 40vh;
}

.scrollyPanel::before {
  background-color: rgba(255, 255, 255, 0.85);
}

.scrollyPanel > * {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 0;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  width: 66.666667%;
  font-size: 1.375rem;
  line-height: 1.666666667;
  color: #000 !important;
}

@media only screen and (max-width: 667px) {
  .scrollyPanel > * {
    width: 83.333333%;
    font-size: 1.125rem;
    line-height: 1.555555556;
  }
}

.scrollyPanel > :not(:last-child) {
  margin-bottom: 1.5rem;
}

.scrollyPanel > h2,
.scrollyPanel > h3 {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 24rem;
  max-width: 90%;
  line-height: 1.25;
  text-align: center;
  text-transform: none;
}

.scrollyPanel > h2 {
  font-size: 2.25rem;
}

.scrollyPanel > h3 {
  font-size: 1.75rem;
}

.scrollyPanel ul {
  list-style: none;
}

.scrollyPanel ul li {
  margin-bottom: 0.5rem;
  padding-left: 1em;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHZpZXdCb3g9IjAgMCA0IDQiPgogIDxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjQiIGZpbGw9IiM2NjY2NjYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPgo8L3N2Zz4K);
  background-position: 0 0.65em;
  background-repeat: no-repeat;
  line-height: 1.556;
}

.scrollyPanel a:link,
.scrollyPanel a:hover,
.scrollyPanel a:active,
.scrollyPanel a:visited {
  color: inherit !important;
  text-decoration: underline !important;
  text-decoration-color: rgba(255, 255, 255, 0.5) !important;
}

.scrollyPanel a:hover,
.scrollyPanel a:active {
  text-decoration-color: #fff !important;
}

@media only screen and (min-width: 668px) and (max-width: 1022px) {
  .scrollyPanel {
    width: 42rem;
  }
}

@media only screen and (min-width: 1023px) {
  .scrollyPanel :nth-of-type(2)[data-align='left'],
  .scrollyPanel :nth-of-type(2)[data-align='right'] {
    margin-top: 40vh;
  }
}

[class*='u-richtext'][class*='u-richtext'] > h3 {
  padding-top: 2rem;
  font-family: 'ABCSerif', sans-serif;
  text-align: center;
}

:global {
  @media (min-width: 1200px) {
    .Main > .u-full > div > div:nth-child(2),
    .Main > .u-full > div > div:nth-child(3),
    .Main > .u-full > div > div:nth-child(4),
    .Main > .u-full > div > div:nth-child(5),
    .Main > .u-full > div > div:nth-child(6) {
      margin-right: calc(30% - 24.75rem) !important;
      width: 49.5rem !important;
    }
  }
}
