.root {
  background: #f3fcfc;
  text-align: center;
  height: 100vh;
  color: #3e494c;

  h1 {
    font-family: 'ABCSerif', serif;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 5vh;

    @media (min-width: 641px) {
      font-size: 26px;
    }
  }
}

.svg {
  width: 300px;
  height: 150px;
}

.canvas {
  display: block;
  position: absolute;
  pointer-events: none;
  margin-top: 60px; // Bump down on small screens

  @media (min-width: 321px) {
    margin-top: 50px;
  }

  @media (min-width: 401px) {
    margin-top: 30px;
  }
}

.label {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #5c6c70;
  font-size: 14px;
  font-weight: bold;
  transition: top 0.5s;
  margin-top: -40px;

  @media (min-width: 641px) {
    font-size: 16px;
  }
}

.background {
  background-color: rgba(243, 252, 252, 0.75);
  padding: 10px;
}

@media (min-width: 1400px) {
  .root {
    transform: translateX(-25%);
  }
}