.root {
  background: #f3fcfc;
  text-align: center;
  height: 100vh;
  color: #3e494c;
  padding-top: 5vh;
}

.svg {
  width: 300px;
  height: 150px;
}

.canvas {
  display: block;
  position: absolute;
  pointer-events: none;
}

// :global {
//   body {
//     margin: 0;
//   }
// }
